<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Title</title>
</head>
<style>
    .layout {
        display: grid;
        text-align : center;
        grid-template-rows: 200px 800px;
    }
    .input-area {
        background-color: azure;
    }
    .post-area {
        background-color: beige;
    }
</style>
<body>
    <div class="layout">
        <div class="input-area">
            제목 : <input id="title"/>
            <br>
            내용 : <textarea id="content"></textarea>
            <br>
            <button id="submit">작성</button>
        </div>
    </div>
<script>
    const title = document.getElementById("title");
    const content = document.getElementById("content");
    const submit_btn = document.getElementById("submit");

    submit_btn.addEventListener("click", async ()=> {
        const token = localStorage.getItem("token");
        let addBoard = null;
        try{
            addBoard = axios.post("/board/add-board",
                { id: null, title: title.value, content: content.value},
                {
                        headers: {Authorization : `Bearer ${token}`}
                });
        }catch(error){
            console.log(error);
            return;
        }
            if(addBoard !== null){
                alert("게시물 추가 성공");
                location.href = "/board/list";
            }
        });
</script>
</body>
</html>