<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>게시물 리스트 페이지</title>
</head>
<style>
    a:hover{
        color : orange;
    }
    .frame{
        display : grid;
        grid-template-columns : 50% 50%;
    }
    .container{
        display: grid;
        grid-template-rows : 50px;
    }
</style>
<body>
    <button id="board-write" onclick="location.href='/board/write'">글쓰기</button>
    <div id="board-list" class="container">
        <div class="frame">
            <div>글 번호</div>
            <div>글 제목</div>
        </div>
    </div>
<script>
    const listDiv = document.getElementById("board-list");
    const renderList = async () => {
        const token = localStorage.getItem("token");
        let boardObj = null;
        try{
            boardObj = await axios.get(
            "/board/get-list",
            {
                headers: {Authorization : `Bearer ${token}`}
            }
        );
        }catch(error){
            console.log(error);
        }
        console.log(boardObj);
        // 토큰이 없을 때의 예외처리
        if(boardObj === null){
            alert("로그인하세요");
            location.href = "/auth/login";
            return;
        }
        const boards = boardObj.data;
        if(!boards || boards == ""){
            alert("로그인하세요");
            location.href = "/auth/login";
            return;
        }
        boards.forEach((board)=>{
            const newDiv = document.createElement("div");
            newDiv.className = "frame";
            const titleDiv = document.createElement("a");
            const idDiv = document.createElement("div");
            titleDiv.innerText = board.title;
            titleDiv.id = board.id;
            idDiv.innerText = board.id;
            newDiv.appendChild(idDiv);
            newDiv.appendChild(titleDiv);
            listDiv.appendChild(newDiv);
            newDiv.addEventListener("click", async ()=>{
                location.href = `/board/view/${board.id}`;
            })
        });
    };
    renderList();
</script>
</body>
</html>