<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    .infoForm{
        display: grid;
        grid-template-columns : 40% 50%;
    }
    .formContainer{
        padding : 10px;
        background-color : gray;
        text-align : center;
        justify-content : center;
        border-radius : 5px;
    }
    .disabled{
        display: none;
    }
</style>
<body>
    <div id="product-id" class="disabled" th:text="${product.id}"></div>
    <h1>제품 상세 정보</h1>
    <div id="product-info" class="formContainer">
        <div class="infoForm">
            <div>제품 명 : </div>
            <div id="product-name" th:text="${product.name}"></div>
        </div>
        <div class="infoForm">
            <div>제품 가격 : </div>
            <div id="product-price" th:text="${product.price}"></div>
        </div>
        <div class="infoForm">
            <div>잔여 수량 : </div>
            <div id="product-amount" th:text="${product.amount}"></div>
        </div>
        <div class="infoForm">
            <div>제품 설명 : </div>
            <div id="product-description" th:text="${product.description}"></div>
        </div>
        <button id="toggle-btn">구매하기</button>
    </div>
    <div id="order-form" class="disabled">
        <h1>제품 주문</h1>
        <div class="formContainer">
            <div class="infoForm">
                <div>구매 수량 : </div>
                <input id="purchase-amount" type="number"/>
            </div>
            <div class="infoForm">
                <div>구매자 요청 : </div>
                <textarea id="purchase-order"></textarea>
            </div>
            <button id="purchase-btn">구매하기</button>
        </div>
    </div>
<script>
    const orderForm = document.getElementById("order-form");
    const toggleBtn = document.getElementById("toggle-btn");
    const purchaseBtn = document.getElementById("purchase-btn");
    const productId = document.getElementById("product-id").innerText;

    let amount = 0;
    toggleBtn.addEventListener("click", () => {
        amount = document.getElementById("product-amount").innerText;
        if(amount != 0) orderForm.classList.toggle("disabled");
        else alert("재고가 없습니다.");
    });
    purchaseBtn.addEventListener("click", async () => {
        const purchaseAmount = document.getElementById("purchase-amount").value;
        const purchaseOrder = document.getElementById("purchase-order").value;

        if(purchaseAmount > amount){
            alert("재고 초과입니다.");
            return;
        }
        const token = localStorage.getItem("token");

        const orderRequest = await axios.post(
            "/market/customer/product-detail/order",
            {
                amount : purchaseAmount, description : purchaseOrder, productid : productId
            },
            {
                headers: {
                    Authorization : `Bearer ${token}`
                }
            }
        )
        console.log(orderRequest);
    });
</script>
</body>
</html>