<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Recipe Detail</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>일련 번호</td>
                <td>구매자 아이디</td>
                <td>구매 개수</td>
                <td>요청 사항</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe, recipeState : ${recipes}">
                <td th:id="${recipeState.index}" class="all-recipe-id" th:text="${recipe.id}"></td>
                <td th:text="${recipe.user.getUserid()}"></td>
                <td th:text="${recipe.amount}"></td>
                <td th:text="${recipe.description}"></td>
                <td><button class="accept-recipe">주문 승인</button></td>
                <td><button class="deny-recipe">주문 취소</button></td>
                <td><textarea class="deny-reason">취소 사유</textarea></td>
            </tr>
        </tbody>
    </table>
<script>
    const acceptBtns = document.querySelectorAll(".accept-recipe");
    const denyBtns = document.querySelectorAll(".deny-recipe");
    const reasonTexts = document.querySelectorAll(".deny-reason");
    const allRecipeId = document.querySelectorAll(".all-recipe-id");

    acceptBtns.forEach((btn, index)=>{
        btn.addEventListener("click", async ()=>{
            const token = localStorage.getItem("token");
            const recipeId = allRecipeId[index].innerText;
            console.log(recipeId);
            const acceptResult = await axios.post(
                "/market/seller/recipe/accept",
                {id: recipeId},
                {
                    headers: {
                        Authorization : `Bearer ${token}`
                    }
                }
            )
            console.log(acceptResult);
        })
    })

    denyBtns.forEach((btn, index)=>{
        btn.addEventListener("click", ()=>{
            if(confirm("정말 주문을 취소하시겠습니까?")){
                const token = localStorage.getItem("token");
                const recipeId = allRecipeId[index].innerText;
                console.log(recipeId);
            }
        })
    })
</script>
</body>
</html>